# Build artifacts
**/node_modules
**/.next
**/out
**/build
**/dist

# Debugging and logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Git and IDEs
.git
.github
.vscode
.idea
*.swp
*.swo
.DS_Store

# Docker files
.dockerignore
docker-compose.override.yml

# DO NOT ignore requirements.txt or source folders as they are needed for builds.
